<ng-template #more let-data>
  <h1 mat-dialog-title>Worker details</h1>
  <div mat-dialog-content>
    @for (item of data | keyvalue; track $index) {
    <div>
      <span class="text-neutral-500">{{ item.key }}: </span>
      <span class="font-semibold">{{ item.value }}</span>
    </div>
    }
  </div>
</ng-template>

<mat-drawer-container autosize>
  <mat-drawer #drawer [opened]="(isHandset$ | async) === false" class="example-sidenav" mode="side">
    <div class="p-4">
      <app-search [controls]="searchConfig" (searchChange)="updateFilters($event)"></app-search>
    </div>
  </mat-drawer>

  @if (workers$ | async; as workers) {
  <div>
    @if ((isHandset$ | async) ? true : false) {
    <button color="accent" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      Toggle filters
    </button>
    }
    <div class="p-4">
      <div class="flex gap-4">
        <div>
          <div class="text-2xl">Workers List</div>
          <div>
            workers count: {{ (workers | search : (filters$ | async)).length }}
          </div>
        </div>
        <app-modal [name]="'add worker'" #modal>
          <ng-template>
            <div mat-dialog-title class="mb-2 text-xl">Add Worker</div>
            <form mat-dialog-content #f="ngForm" id="add-worker-form"
              (submit)="f.valid && actionHandler({ type: 'add', data: f.value })" class="!flex !flex-col">
              <mat-form-field>
                <mat-label>name</mat-label>
                <input matInput type="text" ngModel required="" name="name" />
                <mat-error [errors]="f.controls['name'].errors"> </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>phone</mat-label>
                <input matInput type="text" ngModel name="phone" required />
                <mat-error [errors]="f.controls['phone'].errors"></mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>category</mat-label>
                <mat-select ngModel name="category" required>
                  @for (opt of ['sales', 'support']; track $index) {
                  <mat-option [value]="opt">{{ opt }}</mat-option>
                  }
                </mat-select>
                <mat-error [errors]="f.controls['category'].errors"></mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary">send</button>
            </form>
          </ng-template>
        </app-modal>
      </div>
      <hr class="my-4" />
      <div>
        <app-datagrid [data]="workers | search : (filters$ | async)" [config]="dataGridConfig"
          (onAction)="actionHandler($event)">
        </app-datagrid>
      </div>
    </div>
  </div>
  }
</mat-drawer-container>