<div class="flex justify-center items-center py-5">
  <div class="container border rounded-md shadow-xl bg-slate-50">
    <mat-tab-group
      [selectedIndex]="route.snapshot.params['tab'] === 'login' ? 0 : 1"
      (selectedIndexChange)="setTab($event)"
      animationDuration="100ms"
    >
      <mat-tab label="Login">
        @if (access()) {
        <div class="m-4">
          <div class="text-xl mb-2">You are logged in</div>
          <div class="flex gap-2">
            <button mat-raised-button color="warn" (click)="logOut()">log out</button>
          <button mat-flat-button color="primary" routerLink="/pages/items">go to app</button>
          </div>
        </div>
        } @else {
        <app-login></app-login>
        }
      </mat-tab>
      <mat-tab label="Register">
        <div class="p-4">
          <app-register></app-register>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
