<div class="overflow-x-auto">
  @if (data(); as data) {
  <table class="w-full">
    <thead>
      <tr class="text-neutral-500">
        <th class="text-left px-2">Lp.</th>
        @for (header of config(); track $index) {
        <th class="text-left px-2">
          {{ header.header || header.key | titlecase }}
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of data; track idx; let idx=$index) {
      <tr class="border-b border-neutral-300" data-grid-row [data]="item" [config]="config()"
        (onChange)="onAction.emit($event)">
        {{idx + 1}}
      </tr>
      }
    </tbody>
  </table>
  }
</div>
