<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    [opened]="(isHandset$ | async) === false"
    class="example-sidenav"
    mode="side"
  >
    <div class="p-4">
      <app-search
        [controls]="searchConfig"
        (searchChange)="updateFilters($event)"
      ></app-search>
    </div>
  </mat-drawer>

  @if (items|async; as items) {
  <div>
    @if ((isHandset$ | async)?true:false) {
    <button mat-button color="accent" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
      Toggle filters
    </button>
    }
    <div class="p-4">
      <div>
        <div>
          <div class="flex gap-4">
            <div>
              <div class="text-2xl">Items List</div>
              <div class="text-neutral-500">
                items: {{ items.length }} / {{ total | async }}
              </div>
            </div>
            <div>
              <app-modal
                [disabled]="!(access())"
                [name]="'add item'"
                #modal
              >
                <ng-template #tpl>
                  <h2 mat-dialog-title>Add Item</h2>
                  <form
                    mat-dialog-content
                    #f="ngForm"
                    id="add-item-form"
                    class="!flex !flex-col !space-y-2"
                    (submit)="
                      f.valid && onAction({ type: 'add', data: f.value })
                    "
                  >
                    <mat-form-field>
                      <mat-label>title</mat-label>
                      <input
                        matInput
                        color="secondary"
                        name="title"
                        type="text"
                        required
                        #title="ngModel"
                        ngModel
                      />
                      @if (f.getControl(title)?.hasError('required')) {
                      <mat-error>
                        Field is <strong>required</strong>
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>price</mat-label>
                      <input
                        matInput
                        name="price"
                        type="text"
                        required
                        #price="ngModel"
                        ngModel
                      />
                      @if (f.getControl(price)?.hasError('required')) {
                      <mat-error>
                        Field is <strong>required</strong>
                      </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label> category </mat-label>
                      <mat-select
                        name="category"
                        required
                        #category="ngModel"
                        ngModel
                      >
                        @for (opt of ['food', 'clothes']; track $index) {
                        <mat-option [value]="opt">
                          {{ opt }}
                        </mat-option>
                        }
                      </mat-select>
                      @if (f.getControl(category)?.hasError('required')) {
                      <mat-error>
                        Field is <strong>required</strong>
                      </mat-error>
                      }
                    </mat-form-field>
                    <div>
                      <div>
                        <input
                          type="hidden"
                          name="imgSrc"
                          #img="ngModel"
                          ngModel
                        />
                        <file-upload
                          [url]="uploadUrl"
                          (uploaded)="f.controls['imgSrc']?.setValue($event)"
                        >
                        </file-upload>
                      </div>
                      <div>
                        <img [src]="f.getControl(img)?.value" width="50" />
                      </div>
                    </div>
                    <div class="pt-4">
                      <button mat-raised-button>Send</button>
                    </div>
                  </form>
                </ng-template>
              </app-modal>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div>
          <app-datagrid
            [data]="items"
            [config]="dataGridConfig()"
            (onAction)="onAction($event)"
          >
          </app-datagrid>
          <mat-paginator
            (page)="
              updateFilters({
                currentPage: $event.pageIndex + 1,
                itemsPerPage: $event.pageSize
              })
            "
            [length]="total | async"
            [pageSize]="filters().itemsPerPage"
            [pageSizeOptions]="[2, 5, 10]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  }
</mat-drawer-container>

<ng-template #moreTpl>
  <router-outlet></router-outlet>
</ng-template>
