<td class="text-neutral-500">
  <ng-content></ng-content>
</td>
@if (data(); as data) {
@for (row of config(); track idx; let idx = $index) {
<td>
  @switch (row.type) {
  @case ('img') {
  <div>
    <img [src]="data[row.key]" width="40" />
  </div>
  }
  @case ('input') {
  <div>
    <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
      <mat-label>{{row.disabled ? 'not' : ''}} editable</mat-label>
      <input matInput [(ngModel)]="data[row.key]" [disabled]="row.disabled || false"
        (input)="onChange.emit({type:'update', data})" />
    </mat-form-field>
  </div>
  }
  @case ('button') {
  <div>
    <button mat-raised-button [disabled]="row.disabled" (click)="onChange.emit({type:row.header, data})">
      {{ row.header }}
    </button>
  </div>
  }
  @default {
  <div>
    {{ data[row.key] }}
  </div>
  }
  }
</td>
}
}
