<div class="flex gap-4">
  <form #f="ngForm" [formGroup]="registerForm" id="register-form" class="w-2/3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create your account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col gap-5">
          <div class="flex gap-4 mt-2">
            <mat-form-field class="w-full">
              <mat-label>username</mat-label>
              <input matInput formControlName="username" name="username" />
              <mat-hint>text/email</mat-hint>
              <mat-error [errors]="registerForm.get('username')?.errors"></mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>birth date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate" name="birthDate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error [errors]="registerForm.get('birthDate')?.errors"></mat-error>
            </mat-form-field>
          </div>
          <div class="flex gap-4" formGroupName="passwordGroup">
            @for (item of registerForm.get('passwordGroup')?.value | keyvalue:orderPassword; track $index) {
            <mat-form-field class="w-full">
              <mat-label>{{ item.key }}</mat-label>
              <input type="password" matInput [formControlName]="'' + item.key" [name]="'' + item.key" />
              <mat-error [errors]="registerForm.get('passwordGroup')?.get('' + item.key)?.errors"></mat-error>
              @if ($first) {
              <mat-hint>4-8 chars, upper and lower case letters and numbers</mat-hint>
              }
            </mat-form-field>
            }
          </div>
          <div formGroupName="hobbies" class="p-2 border bg-white rounded space-x-2 space-y-3">
            <div class="text-lg">Your hobbies</div>
            <div class="flex gap-2 items-start flex-wrap">
              @for (item of registerForm.get('hobbies')?.value | keyvalue; track item.value) {
                <mat-checkbox class="border-2 pr-2 py-1 rounded" type="checkbox" [formControlName]="'' + item.key">
                  {{ item.key }}
                </mat-checkbox>
                } @if (f.submitted && registerForm.get('hobbies')?.errors) {
                <mat-error [errors]="registerForm.get('hobbies')?.errors"></mat-error>
                }
                <mat-form-field>
                  <mat-label>other hobbies</mat-label>
                  <input matInput #newHobby />
                </mat-form-field>
                <button mat-raised-button type="button" (click)="addHobby(newHobby.value)">Add a hobby</button>
            </div>
          </div>
          <div formArrayName="specialRequests" class="bg-white rounded border p-4">
            <div class="text-lg">Any special requests?</div>
            @for (item of registerForm.controls.specialRequests.value | keyvalue; track i; let i = $index) {
            <div>
              <mat-form-field class="w-full">
                <mat-label>request {{ i + 1 }}</mat-label>
                <input matInput [name]="'request' + i" placeholder="type your request" [formControlName]="i" />
              </mat-form-field>
            </div>
            }
            <button mat-raised-button type="button" (click)="addSpecialRequest()">Add a Request</button>
          </div>
        </div>
        <br />
        <button id="send-form-btn" mat-raised-button color="primary" (click)="sendForm(f)">send form</button>
      </mat-card-content>
    </mat-card>
  </form>
  <mat-card class="w-1/3">
    <mat-card-content>
      <div class="rounded py-2 text-white font-bold" [ngClass]="{
        '!text-green-500': registerForm.valid,
        '!text-red-500': !registerForm.valid
      }">form valid: {{ registerForm.valid }}</div>
      <div>form value</div>
      <pre>{{ registerForm.value | json }}</pre>
    </mat-card-content>
  </mat-card>
</div>
