.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  @apply shadow;
}

mat-nav-list {
  padding-top: 0 !important;
}

.mat-toolbar.mat-primary {
  @apply bg-neutral-100 shadow text-black mb-0.5;
}
