<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [disableClose]="!(isHandset$ | async)" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false" (click)="navClickHandler()">
    <mat-toolbar>
      <a routerLink="/">
        <img class="w-24" src="https://debugger.pl/assets/vectors/logo.svg" alt="">
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <app-menu [menus]="menus"></app-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <span class="text-lg">Demo Angular App &nbsp;v. {{ version }}</span>


      @if (access()) {
        <div class="flex justify-end gap-2 w-full">
          <div class="text-sm self-center">
            {{(username$|async)}}
          </div>
          <button mat-raised-button color="warn" (click)="logOut()">
            log out
          </button>
        </div>
      } @else {
        <div class="flex justify-end gap-2 w-full">
          <div class="text-sm self-center">not loggedin</div>
          <a mat-raised-button routerLink="/auth/login">
            Login
          </a>
        </div>
      }

    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-spinner></app-spinner>
  </mat-sidenav-content>
</mat-sidenav-container>
