<div class="mx-4 mt-4 p-4 bg-white rounded shadow">
  <header>
    <h1 class="!m-0 !text-2xl !py-4">Szkolenie Angular | Demo aplikacji</h1>
  </header>

  <p>Aplikacja stanowi część szkolenia;
    jest sposobem na utrwalenie oraz pełniejsze zrozumienie poruszanych zagadnień w naturalnym środowisku programisty
  </p>
  
  <p >
    Projekt się zmienia; w razie problemów z API pobierz najnowszą wersję z
    repo i sprawdź end-pointy w pliku api.ts.
  </p>

</div>
