
<mat-card>
  <mat-card-content>
    @if (data$ | async; as item) {
      <div>
        <div class="font-bold text-xl">title: {{item.title}}</div>
        <div>price: {{item.price}}</div>
        <div>category: {{item.category}}</div>
        <img [src]="item.imgSrc" width="200">
      </div>
    } @else {
      <div class="text-red-600 font-semibold">Item not found</div>
    }
  </mat-card-content>
</mat-card>
