@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* .mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px;
} */

.notification {
  white-space: pre-wrap;
  color: white;
  border-radius: 5px;

  * {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: inherit !important;
  }

  &.error {
    @apply bg-rose-700;
  }

  &.info {
    @apply bg-blue-500;
  }

  &.success {
    @apply bg-green-500;
  }

  &.warning {
    @apply bg-yellow-200 text-neutral-600;

    button {
      @apply text-neutral-600;
    }
  }
}

mat-drawer-container,
mat-drawer-content {
  display: block;
  height: 100%;
}
