<div>
  <div>
    <div class="text-2xl mb-2">Filters</div>
  </div>
  <form #searchForm="ngForm" id="search-form">
    @for (control of controls(); track $index) {
      <div>
        @switch (control.tag) {
          @case ('INPUT_TEXT') {
            <mat-form-field ngDefaultControl>
              <mat-label>
                {{ control.name | camelCaseToSign: " " }}
              </mat-label>
              <input matInput type="text" [id]="'search-by-' + control.name" [name]="control.name" ngModel />
            </mat-form-field>
          }
          @case ('INPUT_NUMBER') {
            <mat-form-field ngDefaultControl>
              <mat-label>
                {{ control.name | camelCaseToSign: " " }}
              </mat-label>
              <input matInput type="number" [id]="'search-by-' + control.name" [name]="control.name" ngModel />
            </mat-form-field>
          }
          @case ('SLIDER') {
            <div>
              <mat-label>
                {{ control.name | camelCaseToSign: " " }}
                {{s.value}}
              </mat-label>
              <mat-slider>
                <input #s matSliderThumb [name]="control.name" ngModel="0">
              </mat-slider>
            </div>
          }
          @case ('SELECT') {
            <mat-form-field>
              <mat-label>
                {{ control.name | camelCaseToSign: " " }}
              </mat-label>
              <mat-select ngDefaultControl [id]="'search-by-' + control.name" [name]="control.name" [ngModel]="control.value">
                @for (opt of control.options; track opt) {
                  <mat-option [value]="opt">
                    {{ opt }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
        }
      </div>
    }
  </form>
  <button mat-raised-button (click)="clear()">clear</button>
</div>
